<footer class="js-footer cursor-pointer z-20 flex justify-between items-center fixed transition-all duration-500 opacity-0 -bottom-10 ease-bounce left-2/4 w-11/12 md:w-1/2 px-8 py-4 bg-black90 hover:bg-black85 blur rounded-full shadow-3xl">
  <h4 class="js-nav-title text-xl font-medium leading-tight tracking-wide text-lightGrey">Platform guides</h4>
  <div class="flex">
    <div class="bg-white bg-opacity-10 block rounded-lg py-4 px-3">
      <img class="js-nav-arrow transform transition-all duration-300 ease-in-out" src="/assets/images/chevron-up.svg" alt="Previous Section" />
    </div>
  </div>
</footer>

<div class="floating-nav z-10 opacity-0 bottom-10 max-h-0 flex fixed transition-all duration-300 ease-bounce left-2/4 w-11/12 md:w-1/2 px-5 py-6 bg-black90 blur rounded-4xl shadow-3xl">
  <ul class="w-full">
    <li class="block w-full flex p-3 text-gray-300 text-base">
      <div class="mr-4">🌟 Fav</div>
      <div>💰 Paid </div>
    </li>
    {% for link in site.data.links %}
    <li class="block w-full"><a class="js-nav-link p-3 block w-full transition-all bg-white bg-opacity-0 hover:bg-opacity-10 text-xl font-regular leading-tight tracking-wide text-lightGrey rounded-lg" href="#{{ link.nav }}">{{ link.category }}</a>
    {% endfor %}
  </ul>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/assets/scripts/main.js"></script>
