<footer class="flex justify-between items-center fixed bottom-4 left-2/4 w-4/5 md:w-1/2 px-8 py-4 bg-black90 blur rounded-full shadow-3xl">
  <h4 class="js-nav-title text-xl font-medium leading-tight tracking-wide text-lightGrey">Platform guides</h4>
  <div class="flex">
    <a class="js-nav-prev bg-white bg-opacity-10 hover:bg-opacity-20 transition-all block rounded-lg py-4 px-3 mr-4" href="#">
      <img src="/assets/images/chevron-down.svg" alt="Chevron Down" />
    </a>
    <a class="js-nav-next bg-white bg-opacity-10 hover:bg-opacity-20 transition-all block rounded-lg py-4 px-3" href="#">
      <img src="/assets/images/chevron-up.svg" alt="Chevron Up" />
    </a>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/assets/scripts/main.js"></script>
