<header class="mx-8 my-12 sm:mx-12 sm:my-16 md:m-32">

  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}

  <!-- <a rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a> -->

  <h1 class="text-4xl sm:text-6xl md:text-7xl font-bold mb-2 sm:mb-4">A curated list of mobile design resources</h1>
  <h3 class="text-xl md:text-2xl font-medium leading-tight tracking-wide">Created by Jon Rundle</h3>

</header>
