@import url('https://rsms.me/inter/inter-ui.css');
html {
  font-family: 'Inter UI', sans-serif;
  -webkit-font-smoothing: antialiased;
}
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter UI var alt', sans-serif; }
}

/* Colours */

.dk-grey {
  color: #2D2D2D;
}

.dk-grey-60 {
  color: rgba(45, 45, 45, 0.6);
}

.blue,
.hover-blue:hover {
  color: #2A58CF;
}

.bg-blue {
  background-color: #2A58CF;
}

.hover-dk-blue:hover {
  background-color: #1A3782;
}

.focus-b--blue:focus {
  border-color: #2A58CF;
}

/* Overrides */

.f7 {
  font-size: .65rem;
}

.mw6 {
  max-width: 24rem;
}

.bb {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.shadow-1 {
  box-shadow: 4px 4px 20px 0 rgba( 0, 0, 0, 0.1 );
}

@media screen and (min-width: 60em) {
  .mw6-l {
    max-width: 24rem;
  }
}

/* New styles */

.thick-border {
  border: 1.5rem solid white;
}

input::placeholder {
  color: rgba(45, 45, 45, 0.2);
  font-weight: normal;
}

.anim {
  transition: all .15s ease-in;
}

.bg-border:before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8px;
  content: '';
  z-index: -1;
  background: #1A3782;
}

@media screen and (min-width: 90em) {
  .w-25-xl {
    width: 25%;
  }
  .f1-xl {
    font-size: 3rem;
  }
}

/* Javascript */

.js-current,
.js-nav-link:hover {
  color: #2D2D2D;
}

.js-current:before {
  position: absolute;
  left: -2rem;
  content: '';
  background: #2A58CF;
  width: 1.5rem;
  height: 3px;
  margin-top: 6px;
}
