<!DOCTYPE html>
<html class="h-100" lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="h-100 relative bg-blue">

    {%- include header.html -%}

    <main aria-label="Content">
      {{ content }}
    </main>

    {%- include footer.html -%}

  </body>

  <div class="bg-white fixed z-0 top-0 left-0 right-0 db-l dn" style="height: 1.5rem;"></div>
  <div class="bg-white fixed z-0 bottom-0 left-0 right-0 db-l dn" style="height: 1.5rem;"></div>
  <div class="bg-white fixed z-0 top-0 bottom-0 right-0 db-l dn" style="width: 1.5rem;"></div>

</html>
